body{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: Georgia, serif;
  background: #FFF;
  color: #111;
  padding-bottom: 30px;
}
span.lucida {
    font-family: 'Lucida Grande';
    font-size: 20px;
}
p {
    font-size: 20px;
}
h3 {
	font-size: 18px;
	margin-bottom: 4px;
}
a.btn {
  -webkit-border-bottom-left-radius: 6px 6px;
  -webkit-border-bottom-right-radius: 6px 6px;
  -webkit-border-top-left-radius: 6px 6px;
  -webkit-border-top-right-radius: 6px 6px;
  border-color: rgb(255, 170, 34);
  padding: 8px 15px;
}
#centered{
  text-align: center;
	margin: 0px auto;
	width: 750px;
}
#innerwrapper{
  position: relative;
  text-align: left;
  border: 1px solid transparent;
}
#head {    	
	border: 1px solid transparent;
	width: 100%;
    margin-bottom: 10px;
    text-align: center;
}
#head heading{
    font-size: 80px;
	display: block;
	position: relative;
	margin: 30px auto 0px auto;
	font-family: Garamond, Georgia, serif;
	background: transparent url(logo.png) no-repeat top center;
	text-indent: -10000px;
	width: 310px;
	height: 196px;
}
heading.subheading {
    font-size: 15px;
}
heading.subheading p {
	text-align: center;
}
heading.subheading a.button {
	font-size: 18px;
	-webkit-border-bottom-left-radius: 8px 8px;
	-webkit-border-bottom-right-radius: 8px 8px;
	-webkit-border-top-left-radius: 8px 8px;
	-webkit-border-top-right-radius: 8px 8px;

	padding: 12px 18px;

}
heading.botomcta {
	display: block;
	margin-top: 25px;
	border-top: 1px dotted #CCC;
	border-bottom: 1px dotted #CCC;
}
heading.botomcta p{
	text-align: center;
}
heading.botomcta a.button {
	font-size: 18px;
	-webkit-border-bottom-left-radius: 8px 8px;
	-webkit-border-bottom-right-radius: 8px 8px;
	-webkit-border-top-left-radius: 8px 8px;
	-webkit-border-top-right-radius: 8px 8px;
	padding: 12px 18px;
}

#contact {
	margin-left: 215px;
}
article {
    margin-bottom: 15px;
    border-bottom: 1px dotted #CCC;
    padding-bottom: 8px;
    display: block;
}
article heading{
    font-size: 13px;
    padding: 0px 0px 3px 0px;
    display: block;
}
a,
article heading a{
    color: #111;
    text-decoration: none;
}
article.working-on{
    padding-bottom: 8px;
	
    position: relative;
	
}
article.working-on span.image-wrapper {
	padding: 8px 0px 15px;
	background-color: #F2F2F2;
	display: block;
	text-align: center;
	border-bottom: 1px dotted #999;
	position: relative;
}
article.working-on span.image-wrapper span.image-tag {
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: black;
	color: white;
	padding: 5px;
}
article.working-on.medium-stack span.image-wrapper {
	padding: 0px;
}
article.working-on img {
    margin: 0px;
    padding: 0px;
}
article.working-on h2{
    margin-bottom: 18px;
    margin-top: 13px;
}
article.working-on p{
    margin-bottom: 8px;
    font-size: 16px;
    margin-top: 4px;
    
}

section.box .leftcolumn article.working-on.sequel-pro {
	width: 350px;
}
section.box .leftcolumn article.working-on.medium-stack {
	width: 378px;
}
a:hover {
    color: red;
}
section.box {
    width: 100%;
}
section.box .leftcolumn article {
    float: left;
    width: 278px;
    min-height: 300px;
}
section.box .leftcolumn article:first-child {
    margin-right: 20px;
}

section.box h3{
    font-size: 20px;
    border-bottom: 6px solid black;
    display: block;
    font-weight: normal;
    padding-bottom: 6px;
    margin-bottom: 10px;
	margin-top: 0px;
}
section.box.left {
    float: left;
    margin-right: 18px;
}
section.box.twocol {
    float: left;
    width: 280px;
}
section.box.twocol.images a.image {
    display: inline-block;
    width: 132px;
    height: 90px;
    border: 6px solid #EEE;
    margin-bottom: 4px;
}
section.box.twocol.images a.image:hover {
    border-color: #DDD;
}

section.box.twocol:first-child {
    margin-right: 18px;
}


.clr {
    clear: both;
}
a.button {
    background-color: #EEE;
    display: inline-block;
    padding: 3px 12px 5px;
    font-size: 14px;
    margin-right: 12px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
a.button:hover {
    background-color: #111;
    color: white;
}
footer {
    display: block;
    margin-top: 18px;
    text-align: center;
}
.actionlinks {
	display: block;
	padding-top: 12px;
	padding-bottom: 12px;
}

#other-projects {
	font-size: 14px;
}
#other-projects dl {
	display: block;
	margin: 0px;
	padding: 0px;
}
#other-projects dt {
	clear: left;
	padding: 0px;
	margin: 4px 0px;
	float: left;
	padding: 6px 0px 6px 0px;
}
#other-projects dt a {
	font-weight: normal;
	padding: 4px;
}
#other-projects dt a:hover {
	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: black;
	color: white;
}
#other-projects dd {
	padding: 6px 0px 6px 0px;
	margin-left: 5px;
	margin: 4px 0px 4px 10px;
	color: #666;
	float: left;
	font-style: italic;
}

.secret-app {
	background: transparent url(secret-app.jpg) no-repeat 30px 0px;
	width: 750px;
	height: 120px;
	border-top: 6px solid black;
	margin-bottom: -13px;
}
.secret-app p {
	padding-top: 10px;
	padding-left: 320px;
	font-family: Georgia, serif;
	line-height: 1.8em;
}
